{extend name='public:public'}
{block name='title'}<title>DouPHP 管理中心 - 商品列表 </title>{/block}
{block name='script'}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="/admins/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/admins/js/jquery.min.js"></script>
<script type="text/javascript" src="/admins/js/global.js"></script>
<script type="text/javascript" src="/admins/js/jquery.autotextarea.js"></script>

<script>
    $(function(){
        //修改商品是否上架
        $(document).on('click','#status',function(){
            var goods_id=$(this).siblings("#id").attr("goods_id");
            var goods_status=$(this).attr("goods_status");
            var obj=$(this);
            //alert(1);
            if(obj.attr('status')==0){
                obj.attr('status',1);
                $.ajax({
                    type:"post",
                    url :"{:url('Goods/goodsStatus')}",
                    data:{
                        goods_id:goods_id,
                        goods_status:goods_status
                    },
                    dataType:"json",
                    success:function(data){
                        obj.attr('status',0);
                        if(data.status==0){
                            if(goods_status==0){
                                obj.attr("goods_status",1).html("上架")
                            }else{
                                obj.attr("goods_status",0).html("下架")
                            }
                            window.location.reload()
                        }else{
                            alert("切换状态失败")
                        }
                    }
                })
            }
        });

        //修改商品是否热销
        $(document).on('click','#ishot',function(){
            var goods_id=$(this).siblings("#id").attr("goods_id");
            var goods_ishot=$(this).attr("goods_ishot");
            var obj=$(this);
            //alert(1);
            if(obj.attr('status')==0){
                obj.attr('status',1);
                $.ajax({
                    type:"post",
                    url :"{:url('Goods/ishot')}",
                    data:{
                        goods_id:goods_id,
                        goods_ishot:goods_ishot
                    },
                    dataType:"json",
                    success:function(data){
                        obj.attr('status',0);
                        if(data.status==0){
                            if(goods_ishot==0){
                                obj.attr("goods_ishot",1).html("非热销")
                            }else{
                                obj.attr("goods_ishot",0).html("热销")
                            }
                            window.location.reload()
                        }else{
                            alert("切换状态失败")
                        }
                    }
                })
            }
        });

        //修改商品是否新品
        $(document).on('click','#isnew',function(){
            var goods_id=$(this).siblings("#id").attr("goods_id");
            var goods_isnew=$(this).attr("goods_isnew");
            var obj=$(this);
            //alert(1);
            if(obj.attr('status')==0){
                obj.attr('status',1);
                $.ajax({
                    type:"post",
                    url :"{:url('Goods/isnew')}",
                    data:{
                        goods_id:goods_id,
                        goods_isnew:goods_isnew
                    },
                    dataType:"json",
                    success:function(data){
                        obj.attr('status',0);
                        if(data.status==0){
                            if(goods_isnew==0){
                                obj.attr("goods_isnew",1).html("非新品")
                            }else{
                                obj.attr("goods_isnew",0).html("新品")
                            }
                            window.location.reload()
                        }else{
                            alert("切换状态失败")
                        }
                    }
                })
            }
        });

        //修改商品是否新品
        $(document).on('click','#ispro',function(){
            var goods_id=$(this).siblings("#id").attr("goods_id");
            var goods_ispro=$(this).attr("goods_ispro");
            var obj=$(this);
            //alert(1);
            if(obj.attr('status')==0){
                obj.attr('status',1);
                $.ajax({
                    type:"post",
                    url :"{:url('Goods/ispro')}",
                    data:{
                        goods_id:goods_id,
                        goods_ispro:goods_ispro
                    },
                    dataType:"json",
                    success:function(data){
                        obj.attr('status',0);
                        if(data.status==0){
                            if(goods_ispro==0){
                                obj.attr("goods_ispro",1).html("促销")
                            }else{
                                obj.attr("goods_ispro",0).html("非促销")
                            }
                            window.location.reload()
                        }else{
                            alert("切换状态失败")
                        }
                    }
                })
            }
        });
    })
</script>


{/block}
{block name='now'}
 <!-- 当前位置 -->
 <div id="dcMain">
<div id="urHere">DouPHP 管理中心<b>></b><strong>商品列表</strong>
</div><div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Goods/add')}" class="actionBtn add">添加商品</a>商品列表</h3>
    <div class="filter">
        <form action="" method="post">
            <select name="cat_id">
                <option value="0">未分类</option>
                {foreach $cate as $k=>$v}
                <option value="{$v.cates_id}">{:str_repeat("　",$v['level'])}{$v.cates_name}</option>
                {/foreach}
            </select>
            <input name="keyword" type="text" class="inpMain" value="根据关键字搜索" size="20" />
            <input name="submit" class="btnGray" type="submit" value="筛选" />
        </form>
        <span>
            <a class="btnGray" href="product.php?rec=re_thumb">更新商品缩略图</a>
            <a class="btnGray" href="product.php?rec=sort">开始筛选首页商品</a>
        </span>
    </div>
    <div id="list">
        <form name="action" method="post" action="product.php?rec=action">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <th width="20" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
                    <th width="40" align="center">编号</th>
                    <th width="80" align="center">商品名称</th>
                    <th width="80" align="center">货号</th>
                    <th width="60" align="center">价格</th>
                    <th width="60" align="center">上架</th>
                    <th width="60" align="center">热销</th>
                    <th width="60" align="center">新品</th>
                    <th width="60" align="center">促销</th>
                    <th width="60" align="center">库存</th>
                    <th width="150" align="center">操作</th>
                </tr>
                {foreach $data as $k=>$v}
                <tr>
                    <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
                    <td align="center" id="id" goods_id="{$v.goods_id}">{$v.goods_id}</td>
                    <td align="center"><a href="">{$v.goods_name}</a></td>
                    <td align="center"><a href="product.php?cat_id=3">{$v.goods_item_num}</a></td>
                    <td align="center">{$v.goods_price}</td>
                    <td align="center" goods_status="{$v.goods_status}" id="status" status="0">{if $v.goods_status==0}上架{else /}下架{/if}</td>
                    <td align="center" goods_ishot="{$v.goods_ishot}" id="ishot" status="0">{if $v.goods_ishot==0}热销{else /}非热销{/if}</td>
                    <td align="center" goods_isnew="{$v.goods_isnew}" id="isnew" status="0">{if $v.goods_isnew==0}新品{else /}非新品{/if}</td>
                    <td align="center" goods_ispro="{$v.goods_ispro}" id="ispro" status="0">{if $v.goods_ispro==0}非促销{else /}促销{/if}</td>
                    <td align="center">{$v.goods_num}</td>
                    <td align="center">
                        <a href="{:url('Products/index')}?goods_id={$v.goods_id}">货品管理</a> | <a href="{:url('Goods/image',['goods_id'=>{$v.goods_id}])}">添加相片</a> | <a href="product.php?rec=edit&id=15">编辑</a> | <a href="product.php?rec=del&id=15">删除</a>
                    </td>
                </tr>
                {/foreach}
            </table>
            <div class="action">
                <select name="action" onchange="douAction()">
                    <option value="0">请选择...</option>
                    <option value="del_all">删除</option>
                    <option value="category_move">移动分类至</option>
                </select>
                 <select name="new_cat_id" style="display:none">
                     <option value="0">未分类</option>
                     <option value="1"> 电子数码</option>
                     <option value="4">- 智能手机</option>
                     <option value="5">- 平板电脑</option>
                     <option value="2"> 家居百货</option>
                     <option value="3"> 母婴用品</option>
                 </select>
                 <input name="submit" class="btn" type="submit" value="执行" />
            </div>
        </form>
        <div>{$data|raw}</div>
    </div>




 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
<script type="text/javascript">

onload = function()
{
 document.forms['action'].reset();
}

function douAction()
{
 var frm = document.forms['action'];
 frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
}

</script>
{/block}