{extend name='public:public'}
{block name='title'}<title>DouPHP 管理中心 - 商品列表 </title>{/block}
{block name='script'}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="/admins/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/admins/js/jquery.min.js"></script>
<script type="text/javascript" src="/admins/js/global.js"></script>
<script type="text/javascript" src="/admins/js/jquery.autotextarea.js"></script>

<script>
    $(function(){
        //修改商品是否上架
        $(document).on('click','#status',function(){
            var goods_id=$(this).siblings("#id").attr("goods_id");
            var goods_status=$(this).attr("goods_status");
            var obj=$(this);
            //alert(1);
            if(obj.attr('status')==0){
                obj.attr('status',1);
                $.ajax({
                    type:"post",
                    url :"{:url('Goods/goodsStatus')}",
                    data:{
                        goods_id:goods_id,
                        goods_status:goods_status
                    },
                    dataType:"json",
                    success:function(data){
                        obj.attr('status',0);
                        if(data.status==0){
                            if(goods_status==0){
                                obj.attr("goods_status",1).html("上架")
                            }else{
                                obj.attr("goods_status",0).html("下架")
                            }
                            window.location.reload()
                        }else{
                            alert("切换状态失败")
                        }
                    }
                })
            }
        });

        //修改商品是否热销
        $(document).on('click','#ishot',function(){
            var goods_id=$(this).siblings("#id").attr("goods_id");
            var goods_ishot=$(this).attr("goods_ishot");
            var obj=$(this);
            //alert(1);
            if(obj.attr('status')==0){
                obj.attr('status',1);
                $.ajax({
                    type:"post",
                    url :"{:url('Goods/ishot')}",
                    data:{
                        goods_id:goods_id,
                        goods_ishot:goods_ishot
                    },
                    dataType:"json",
                    success:function(data){
                        obj.attr('status',0);
                        if(data.status==0){
                            if(goods_ishot==0){
                                obj.attr("goods_ishot",1).html("非热销")
                            }else{
                                obj.attr("goods_ishot",0).html("热销")
                            }
                            window.location.reload()
                        }else{
                            alert("切换状态失败")
                        }
                    }
                })
            }
        });

        //修改商品是否新品
        $(document).on('click','#isnew',function(){
            var goods_id=$(this).siblings("#id").attr("goods_id");
            var goods_isnew=$(this).attr("goods_isnew");
            var obj=$(this);
            //alert(1);
            if(obj.attr('status')==0){
                obj.attr('status',1);
                $.ajax({
                    type:"post",
                    url :"{:url('Goods/isnew')}",
                    data:{
                        goods_id:goods_id,
                        goods_isnew:goods_isnew
                    },
                    dataType:"json",
                    success:function(data){
                        obj.attr('status',0);
                        if(data.status==0){
                            if(goods_isnew==0){
                                obj.attr("goods_isnew",1).html("非新品")
                            }else{
                                obj.attr("goods_isnew",0).html("新品")
                            }
                            window.location.reload()
                        }else{
                            alert("切换状态失败")
                        }
                    }
                })
            }
        });

        //修改商品是否新品
        $(document).on('click','#ispro',function(){
            var goods_id=$(this).siblings("#id").attr("goods_id");
            var goods_ispro=$(this).attr("goods_ispro");
            var obj=$(this);
            //alert(1);
            if(obj.attr('status')==0){
                obj.attr('status',1);
                $.ajax({
                    type:"post",
                    url :"{:url('Goods/ispro')}",
                    data:{
                        goods_id:goods_id,
                        goods_ispro:goods_ispro
                    },
                    dataType:"json",
                    success:function(data){
                        obj.attr('status',0);
                        if(data.status==0){
                            if(goods_ispro==0){
                                obj.attr("goods_ispro",1).html("促销")
                            }else{
                                obj.attr("goods_ispro",0).html("非促销")
                            }
                            window.location.reload()
                        }else{
                            alert("切换状态失败")
                        }
                    }
                })
            }
        });
    })
</script>

{/block}
{block name='now'}
 <!-- 当前位置 -->
 <div id="dcMain">
<div id="urHere">DouPHP 管理中心<b>></b><strong>货品列表</strong>
</div><div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Products/add')}?goods_id={$goods_id}" class="actionBtn add">添加货品</a>货品列表</h3>
    <div class="filter">
    </div>
    <div id="list">
        <form name="action" method="post" action="product.php?rec=action">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <th width="20" align="center"><input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
                    <th width="40" align="center">编号</th>
                    <th width="40" align="center">货品属性</th>
                    <th width="80" align="center">货品价格</th>
                    <th width="80" align="center">货品数量</th>
                    <th width="150" align="center">操作</th>
                </tr>
                {if empty($data)}
                    <tr>
                        <td colspan="5" align="center">该商品还没有货品信息</td>
                    </tr>
                {else /}
                    {foreach $data as $k=>$v}
                    <tr>
                        <td align="center"><input type="checkbox" name="checkbox[]" value="15" /></td>
                        <td align="center" id="id" goods_id="{$v.products_id}">{$v.products_id}</td>
                        <td align="center"><a href="">{:trim($v.goods_attrs_value,"|")}</a></td>
                        <td align="center"><a href="">{$v.products_price}</a></td>
                        <td align="center"><a href="product.php?cat_id=3">{$v.products_num}</a></td>
                        <td align="center">
                           <a href="product.php?rec=edit&id=15">编辑</a> | <a href="product.php?rec=del&id=15">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                {/if}
            </table>
        </form>
    </div>




 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
<script type="text/javascript">

onload = function()
{
 document.forms['action'].reset();
}

function douAction()
{
 var frm = document.forms['action'];
 frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
}

</script>
{/block}